/* header */
.logo {
    background-color: white;

}

.logo img {
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.logo__name {
    color: black;
    font-size: 40px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

/* seccion main */
.body {
    background-color: #f7f8fb;
}

.main_container {
    margin: 30% 5%;
}

.main {
    display: flex;
    gap: 7px;
    background-color: white;
    padding: 20px 35px;
    border-radius: 3%;
}

.add-task {
    padding: 4px 5px;
    color: #f7f8fb;
    border-color: #f7f8fb;
    border-radius: 5%;
    background-color: cornflowerblue;
}

.add-section {
    padding: 4px 5px;
    color: gray;
    border-color: black;
    border-radius: 5%;
    background-color: white;
}

/* seccion main_container */

.triangle {
    width: 2%;
    height: 2%;
    line-height: 2px;
    vertical-align: middle;
}

.bulletcheck {
    width: 2%;
    height: 2%;
    line-height: 2px;
    vertical-align: middle;
}

.bulletx {
    width: 1.7%;
    height: 1.7%;
    line-height: 1.7px;
    vertical-align: middle;
}

.main-line {
    color: black;
    font-size: 16px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

.line {
    color: black;
    font-size: 16px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

.blue {
    padding: 5px 10px;
    font-size: 10px;
    color: white;
    border-color: #66aaed;
    border-radius: 20%;
    background-color: #66aaed;
}

.violet {
    padding: 5px 10px;
    font-size: 10px;
    color: white;
    border-color: #9676df;
    border-radius: 20%;
    background-color: #9676df;
}

.green {
    padding: 5px 10px;
    font-size: 10px;
    color: white;
    border-color: #7bbcaa;
    border-radius: 20%;
    background-color: #7bbcaa;
}

.orange {
    padding: 5px 10px;
    font-size: 10px;
    color: white;
    border-color: #e7a04e;
    border-radius: 20%;
    background-color: #e7a04e;
}

.magenta {
    padding: 5px 10px;
    font-size: 10px;
    color: white;
    border-color: #cb6a9e;
    border-radius: 20%;
    background-color: #cb6a9e;
}

.green {
    padding: 5px 10px;
    font-size: 10px;
    color: white;
    border-color: #b4c74e;
    border-radius: 20%;
    background-color: #b4c74e;
}